<configuration>

  <config>
    <add key="globalPackagesFolder" value="..\PkgCache" />
  </config>

  <packageSources>
    <clear />
    <add key="webHost" value="..\..\..\..\..\..\..\libs\SoloX.CodeQuality.WebHost\bin\Configuration" />
	<add key="testPlaywright" value="..\..\..\..\..\..\..\libs\SoloX.CodeQuality.Playwright\bin\Configuration" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
